body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}
* {
  padding: 0;
  margin: 0;
}
header,
.header-bg {
  background: linear-gradient(180deg, #c4b6fd, #93acfc);
}

.navbar-brand,
.text-primary {
  color: #0a58ca !important;
}

.nav-link {
  font-weight: 500;
}

.btn-primary {
  background-color: #0a58ca !important;
  border: none;
}

.nav-link:hover {
  color: #0a58ca !;
}

p {
  font-size: 18px;
}

.btn-primary:hover {
  background-color: #257dfd !important;
}

.blue-bg {
  background-color: #0a58ca;
  color: #fff;
}

.navbar-toggler {
  border: none !important;
  outline: none !important;
}

ul {
  text-align: center;
}

.text-primary {
  color: #257dfd;
}

@media (max-width: 992px) {
  .t-center-1 {
    text-align: center;
  }
}

.header-moved {
  background: linear-gradient(
    180deg,
    rgba(196, 182, 253, 0.93),
    rgba(147, 172, 252, 0.93)
  );
  /* top: 2rem; */
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.15), 5px 5px 3px rgba(0, 0, 0, 0.15);
  z-index: 11;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.icons {
  height: 32px;
  width: 32px;
  margin-bottom: 16px;
  color: #0a58ca;
  background-color: #f2f2f2;
  padding: 6px;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  border: none !important;
  background-color: #0a58ca;
  color: #fff;
}

.nav-tabs {
  border: none;
}

.h3,
h3 {
  font-size: calc(1.3rem + 0.5vw) !;
}

.ptt-5 {
  padding-top: 10rem !important;
}

.menu-fix {
  z-index: 45454;
}
